# === Node modules ===
node_modules/
**/node_modules/

# === Build folders ===
build/
dist/
**/build/
**/dist/

# === Test coverage ===
coverage/
**/coverage/

# === Environment variables ===
.env
.env.*
!backend/.env.example


# === Logs ===
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Package manager files ===
package-lock.json
yarn.lock
pnpm-lock.yaml

# === Editor & System files ===
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace

# === Yarn Plug'n'Play ===
.pnp/
.pnp.js

# === TypeScript build info ===
*.tsbuildinfo
