# Database Configuration
DB_NAME=inventorydb
DB_USER=root
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_DIALECT=mysql
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=specify_num_of_day( 1d, 2d...)


# Email Credentials (for notifications, etc.)
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_app_specific_password

